.container-fluid{
	padding-top: 150px;
}

.container-fluid h1{
	font-weight: 700;
}

.container-fluid li{
	font-weight: 300;
}

.officers{
	text-align: center;
	margin: auto;
}

.officers h2, h3{
	font-weight: 700;
}