.content{
	padding-top: 200px;
}

h1{
	text-align: center;
	font-weight: 700;
	font-size: 4em;
}

.content > p{
	font-weight: 300;
	margin: 0 120px;
}

#calendar{
	padding-top: 50px;
	text-align: center;
}

.event{
	text-align: center;
	padding-bottom: 60px;
	height: 400px;
	border-bottom: none;
	border-right: 2px solid #afafaf;
}

.event img{
	width: 200px;
	height: auto;
}

.event h3{
	font-weight: 700;
}

.event p{
	font-weight: 300;
	font-size: .85em;
	margin: 0 10px;
}