body{
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

/* HEADER */
.header{
	background-color: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid #ddd;
	padding: 15px;
	position: fixed;
	top: 0px;
	z-index: 10;
	width: 100%;
	background-color: #fff;
}

.header img{
	float: left;
	width: 50px;
	height: auto;
}

/* MENU */

.header .menu{
	float: right;
	list-style: none;
	margin-top: 5px;
}

.menu > li {
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

.menu a {
	color: #898989;
}

/* CAROUSEL */
#myCarousel{
	top: 95px;
	margin-bottom: 20px;
}

.contatiner-fluid{
	padding-left: 30px;
	padding-right: 30px;
}

.row{
	margin-top: 100px;
}

.col-md-4{
	border-bottom: 2px solid #efefef;
	border-width: 90%;
	height: 200px;
}

.col-md-4 h3{
	font-weight: 700;
	font-size: 1.5em;
	color: #0a0a0a;
}

.col-md-4 p{
	color: #898989;
}

.col-md-4 img{
	width: 25%;
	height: auto;
	padding: 10px;
}

/* FOOTER */
footer{
	text-align: center;
	color: #898989;
}

